@charset "utf-8";

body
{
  //font-family:'Droid Sans Mono', arial, serif;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  background: #101415;
  margin: 0;
  padding: 0;
  color: #000000;
}

h1,h2,h3,h4
{
  color: #176551;
}

hr
{
  color: #176551;
}

#container
{
  width: 900px;
  background: #FFFFFF;
  margin: 0 auto;
}

#header
{
  background: #DDDDDD;
  width: 900px;
  height: 235;
}

#header .headerBackground
{
  width:900px;
  height:235px;
  background:url(headerBackground.jpg) no-repeat left top;
}

#header h1
{
  margin: 20px; /* do not change */
  padding: 40px 40px 0 0; /* do not change */
  color:#FFFFFF;
  text-shadow: #000000 3px 3px 3px;
  text-align:left;
  font-size:40px;
}

#footer
{
  height:45px;
  color:#FFFFFF;
  background:url(footerBackground.jpg) repeat-x left top;
}

#footer p
{
  padding-top:16px;
  text-align:center;
}

#footer a
{
  color:#ffffff;
}

.footerLink
{
  color:#292b25;
  text-decoration:underline;
}

#sidebar1
{
  float: right; /* must provide width */
  width: 200px;
  background: #ffffff; /* full length of content */
  margin:20px 40px 20px 0;
}

#sidebar1 a, #mainContent a
{
  color:#176551;
  font-weight: bold;
}

#mainContent
{
  margin: 20px 280px 20px 40px; /* sidebars on right */
}

#fullWidthContent
{
  margin: 20px 40px 20px 40px;
}

.productPic
{
  float:left;
  margin:0 20px 15px 0;
}

.clearfloat
{ /* last item */
  clear:both;
  height:0;
  font-size: 1px;
  line-height: 0px;
}

table.members
{
	border-width: 1px;
	border-spacing: ;
	border-style: none;
	border-color: white;
	border-collapse: collapse;
	background-color: #EEEEEE;
}

table.members th
{
  text-align: left;
	border-width: 2px;
	padding: 1px;
	border-style: solid;
	border-color: white;
	background-color: white;
	-moz-border-radius: ;
}

table.members td
{
	border-width: 2px;
	padding: 1px;
	border-style: solid;
	border-color: white;
	background-color: #EEEEEE;
}

/* begin menu */
#navcontainer
{
  margin:auto 0;
  width:900px;
  text-align:center;
}

#navcontainer ul
{
  padding: 0;
  margin: auto 0;
  background: url(menuBackground.gif) repeat-x left top;
  float: left;
  width: 100%;
}

#navcontainer ul li
{
  display: inline;
}

#navcontainer ul li a
{
  color: #626161;
  text-decoration: none;
  float: left;
  border-right: 1px solid #fff;
  font-size:16px;
  padding:8px 12px;
}

#navcontainer ul li a:hover
{
  background: url(menuBackgroundActive.gif) repeat-x left top;
  color: #fff;
}

#navcontainer ul li #current
{
  background: url(menuBackgroundActive.gif) repeat-x left top;
  color: #fff;
}
/* end menu */

/* begin corners */
.t {background: #ffffff url(dot.gif) 0 0 repeat-x;}
.b {background:url(dot.gif) 0 100% repeat-x}
.l {background:url(dot.gif) 0 0 repeat-y}
.r {background:url(dot.gif) 100% 0 repeat-y}
.bl {background:url(bl.gif) 0 100% no-repeat}
.br {background:url(br.gif) 100% 100% no-repeat}
.tl {background:url(tl.gif) 0 0 no-repeat}
.tr {background:url(tr.gif) 100% 0 no-repeat; padding:1px 20px}
/* end corners */

/* begin grey corners */
.n_t {background: #eeeeee url(n_dot.gif) 0 0 repeat-x;}
.n_b {background:url(n_dot.gif) 0 100% repeat-x}
.n_l {background:url(n_dot.gif) 0 0 repeat-y}
.n_r {background:url(n_dot.gif) 100% 0 repeat-y}
.n_bl {background:url(n_bl.gif) 0 100% no-repeat}
.n_br {background:url(n_br.gif) 100% 100% no-repeat}
.n_tl {background:url(n_tl.gif) 0 0 no-repeat}
.n_tr {background:url(n_tr.gif) 100% 0 no-repeat; padding:1px 20px}
/* end grey corners */
