{{ define "main" }}

{{ $dateFormat := default "Mon Jan 2, 2006" .Site.Params.DateFormat }}
{{ $author :=  .Params.author | default .Site.Params.author }}
{{ $showNumberOfWords := .Params.ShowNumberOfWords | default .Site.Params.ShowNumberOfWords  }}

  <div class="post-meta">{{ if .Site.Params.ShowDate }}<span class="byline-icon fa fa-calendar" aria-hidden="true"></span>&emsp;<span class="screen-reader-text">{{ i18n "date" }}: </span><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time>{{ end }}</div>
  <h1>{{ .Title }}</h1>

  {{ .Content }}
{{ end }}
