{{ $scratch := newScratch }}
{{ range (readDir "holidata") }}
  {{ $c_l := split .Name "-" }}
  {{ $c := index $c_l 1 }}

  {{ $lang := index $c_l 0 }}
  {{ $code := index $c_l 1 }}
  {{ $name := index $.Site.Data.countries $code }}

  {{ $country := default (dict "code" $code "lang" (slice)) ($scratch.Get $name) }}
  {{ $languages := $country.lang }}
  {{ $languages = append $lang $languages }}
  {{ $country = merge $country (dict "lang" $languages) }}
  {{ $scratch.Set $name $country }}

  {{ $scratch.Add "countries" (slice $name) }}
  {{ $scratch.Add $c (slice (index $c_l 0)) }}

  {{ range (readDir (delimit (slice "holidata" .Name) "/")) }}
    {{ $y_f := split .Name "." }}
    {{ $scratch.Add "years" (slice (index $y_f 0)) }}
    {{ $scratch.Add "formats" (slice (index $y_f 1)) }}
  {{ end }}
{{ end }}
{{ $site := .Site }}
{{ $baseUrl := $site.BaseURL }}
<table class="table">
    <caption>Available locales</caption>
    <tr>
        <th scope="col">Country</th>
        <th scope="col">Language</th>
        {{ range $scratch.Get "years" | sort | uniq | last 2 }}
        <th scope="col">{{ . }}</th>
        {{ end }}
    </tr>
    {{ range $name := $scratch.Get "countries" | sort | uniq }}
    {{ $country := $scratch.Get $name }}
    {{ $language := index $country.lang 0 }}
    <tr>
        <td rowspan="{{ len $country.lang }}">{{ index $.Site.Data.flags $country.code }} {{ $name }}</td>
        <td>{{ $language }}</td>
        {{ range $year := $scratch.Get "years" | sort | uniq | last 2 }}
        <td>
            {{ range $format := $scratch.Get "formats" | sort | uniq }}
            <a href="{{ $baseUrl }}/{{ $language }}-{{ $country.code }}/{{ $year }}.{{ $format | lower }}">{{ . }}</a>
            {{ end }}
        </td>
        {{ end }}
    </tr>
    {{ range $language := (after 1 $country.lang) }}
    <tr>
        <td>{{ $language }}</td>
        {{ range $year := $scratch.Get "years" | sort | uniq | last 2 }}
        <td>
            {{ range $format := $scratch.Get "formats" | sort | uniq }}
            <a href="{{ $baseUrl }}/{{ $language }}-{{ $country.code }}/{{ $year }}.{{ $format | lower }}">{{ . }}</a>
            {{ end }}
        </td>
        {{ end }}
    </tr>
    {{ end }}
    {{ end }}
</table>